<article class="article">
  <div class="article-inner">
    <div class="article-header">
        <h3 class="article-title" style="font-size: 20px;">相關文章</h3>
    </div>
    <div class="article-entry">
      <%- list_related_posts({maxCount: 5, orderBy: 'random'}) %>
    </div>
  </div>
</article>